/* 狐狸安卓Q 样式 */
.fox-android-q .channel-label {
    color: #232323;
}
.fox-android-q .charge-type {
    color: #888;
    font-size: 0.95em;
}

.fox-android-q .charge-value {
    background: #e9ecef;
    border-radius: 4px;
    padding: 2px 10px;
    color: #222;
    font-weight: 500;
}
